<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D7FF0301F3570C000D2EA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7FF0441F3570C000D2EA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7FF04F1F3570C000D2EA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
